body{
  background-image: url("image.jpg")   ;
  position: fixed;
}
nav{
    background-color: rgb(28 28 28);
}
.horizontal-list{
    overflow: auto;
    padding-left: 0px;
    margin: 0px;
    
    
}
.horizontal-list li{
    float: left;
    list-style: none;
    margin:3px 50px;
    font-weight: 100;
    font-size:1rem;
}
.horizontal-list li a{
   
    text-decoration: none;
    color:white;
}


form{
    background-color: white;
    margin-left: 400px;
    border-radius: 5px;
}

 input#search {
    background-color: transparent;
    border: 0px solid;
    border: none;
    
}
#search-icon{
    margin:5px ;
    background-color: transparent;
    border: none;
    
}
span#mic{
    margin-right: 10px;
}

img#img-icon{
    width:40px;
    height: 40px;
}
img#profileImage{
    width: 60px;
    height: 50px;
    border-radius: 50%;
}
.container{
    position: relative;
}
.container .wrapper{
    width: 50vw;
    height: 55vh;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.6);
    margin: 1rem 0rem 0rem 5rem;
}

